<div class="row" style="width: 100.81%;">

    
    <aside class="col-lg-3" style="width: 335px;"> 
        <admin-hostel-sidebar></admin-hostel-sidebar>
    </aside>
    <main class="col-lg-9" style="min-height: 100vh;">
        <h1 style="color: white;">Search for a student</h1>
            <div class="container mt-4">

                <!-- Search bar -->
                <form class="form-inline my-3" [formGroup]="rNoForSearch">
                    <div class="input-group">
                    <input type="number" id="rNo" name="rNo" formControlName="rNo" class="form-control bg-light" placeholder="Search Room No" aria-label="Search" aria-describedby="basic-addon2" required>
                    <div class="input-group-append">
                        <button (click)="searchRoomNo()" class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                    </div>
                </form>
                <span *ngIf="searchIsDone == true">

                    <h1 style="color: white;">Your Search Result</h1>
                    
                 <h1 style="color: white;" *ngIf="key">Room key: <span class="btn-info">Available</span></h1>
                 <h1 style="color: white;" *ngIf="!key">Room key: <span class="btn-danger">Unavailable</span></h1>
                   
                    <h1 style="color: white;"></h1>
                    <div class="row">
                <table *ngIf="members.length" class="table-bordered col-md-12 text-center">
                    <thead style="background-color: rgb(111 202 203);">
                        <tr>
                            <th>No</th>
                            <!-- <th style="width:7%">Photo</th> -->
                            <th>index Number</th>
                            <th>Name</th>
                            <!-- <th>Email</th>
                            <th>Phone No.</th>
                            <th>Type</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of members;let i = index">
                            <td>{{i+1}}</td>
                            <!-- <td><img src="../../assets/img/profileImg/{{user.username}}.jpg" onerror="src='../../assets/img/profileImg/profilePic.jpg'" alt="image for this user" width="100px" height="100px"></td> -->
                            <td>{{user.indexNumber}}</td>
                            <td>
                                <p> <b>{{user.name}}</b></p>
                                <!-- <p>Last Name : <b>{{user.lastName}}</b></p> -->
                            </td>
                            <!-- <td>{{user.email}}</td>
                            <td>{{user.mobileNumber}}</td>
                            <td>{{user.role}}</td> -->
                            <td *ngIf="users?.role === 'Admin' ">
                                <button name="removestudent" (click)="removeStudent(user._id)"  class="btn btn-sm btn-danger" style="margin-left:9px;">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
              
                        <div *ngFor="let room of searchRooms" class="col-md-2">
                            <div>
                            <!-- <div>
                                    <span class="fa-stack">
                                        <strong class="fa-stack-2x">
                                        {{room.number}}
                                        </strong>
                                    </span>
                            </div> -->


                            <!-- <div style="width: 1000%; height: 400px;" >
                                
                                
                                        <div *ngFor="let member of members2"
                                        class="col-md-2" style="color: white; margin: 5px;" >
                                           
                                            {{member}}
                                           
                                        </div>
                                
                              
                                    </div> -->

                                <div *ngIf="!this.members.length" class="alert alert-info mx-2" role="alert" style="width: 400px;">
                                    room is empty
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            <!-- <div class="table">
                                    <h4 class="card-caption m-0">Room No: 2</h4>
                                    <div class="ftr" style="border-top: none;">
                                        <a><i class="fas fa-arrow-alt-circle-right"></i></a>
                                        <button type="button" class="btn p-0" data-toggle="modal" [attr.data-target]="'#viewStudent'+ room.members">
                                            <i class="fas fa-arrow-alt-circle-right"></i>
                                        </button>
                                    </div>
                            </div> -->


                            </div>
                        </div>
                    </div>
                    <div *ngIf="!this.searchRooms.length" class="alert alert-info mx-2" role="alert" style="width: 400px;">
                        {{searchmsg}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    
                </span>
