<div class="row" style="width: 100.81%;">
    <aside class="col-lg-3" style="width: 335px;"> 
        <admin-hostel-sidebar></admin-hostel-sidebar>
    </aside>
    <main class="col-lg-9" style="min-height: 100vh;">

        <div class="container mt-4">
            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="div-box">
                        <h3 class="User-name"><strong>Main Hall</strong></h3>
                        <h4 class="designation"> <strong>Number of Rooms</strong> : <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">150</span></h4>
                        <h4 class="designation"> <strong>Number of Students</strong>: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability. boysSuperDeluxeRooms}}</span></h4>
                        <div class="profile-details">
                            <ul>
                                <li *ngIf="user?.role === 'Admin'"><a routerLink="/admin/addStudent"><i class="fas fa-home"></i> Add Student</a></li>
                                <li><a routerLink="/admin/viewStudent"><i class="fas fa-user"></i> View Student</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            
                <div class="col-sm-6 col-md-4">
                    <div class="div-box">
                    <h3 class="User-name"><strong>ANNEX A</strong></h3>
                    <h4 class="designation"> <strong>Number of rooms</strong> : <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">80</span></h4>
                    <h4 class="designation"> <strong>Number of Students</strong> : <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability. boysSuperDeluxeRooms}}</span></h4>
                    <div class="profile-details">
                        <ul>
                        <li *ngIf="user?.role === 'Admin'"><a routerLink="/admin/addStudent"><i class="fas fa-home"></i> Add Student</a></li>
                        <li><a routerLink="/admin/viewStudent"><i class="fas fa-user"></i> View Student</a></li>

                        </ul>
                    </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="div-box">
                    <h3 class="User-name"><strong>Annex B</strong></h3>
                    <h4 class="designation"> <strong>Number of rooms</strong> : <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">80</span></h4>
                    <h4 class="designation"> <strong>Number of students</strong> : <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability. boysSuperDeluxeRooms}}</span></h4>
                    <div class="profile-details">
                        <ul>
                        <li *ngIf="user?.role === 'Admin'"><a routerLink="/admin/addStudent"><i class="fas fa-home"></i> Add Student</a></li>
                        <li><a routerLink="/admin/viewStudent"><i class="fas fa-user"></i> View Student</a></li>
                       
                        </ul>
                    </div>
                    </div>
                </div>
            
            </div>
        </div>
        
    </main>
</div>
